version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
      time: "06:00"

  - package-ecosystem: "npm"
    directory: "/ha-raumkernel-addon/rootfs/app"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
