name: HACS Action

on:
  push:
    branches:
      - main
    paths:
      - "hacs.json"
      - "custom_components/teufel_raumfeld_raumkernel/**"
  pull_request:
    branches:
      - main
    paths:
      - "hacs.json"
      - "custom_components/teufel_raumfeld_raumkernel/**"
  workflow_dispatch:

jobs:
  hacs:
    name: HACS Action
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: HACS Action
        uses: hacs/action@main
        with:
          category: integration
          ignore: brands
