name: Validate with Hassfest

on:
  push:
    branches:
      - main
    paths:
      - "custom_components/teufel_raumfeld_raumkernel/**"
  pull_request:
    branches:
      - main
    paths:
      - "custom_components/teufel_raumfeld_raumkernel/**"

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Hassfest
        uses: home-assistant/actions/hassfest@master
