name: Python Lint

on:
  push:
    branches:
      - main
    paths:
      - "custom_components/teufel_raumfeld_raumkernel/**.py"
      - "pyproject.toml"
  pull_request:
    branches:
      - main
    paths:
      - "custom_components/teufel_raumfeld_raumkernel/**.py"
      - "pyproject.toml"

jobs:
  ruff:
    name: Ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3
        with:
          args: "check custom_components/teufel_raumfeld_raumkernel"
